In [309]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [310]:
dataset_train=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\train.csv")
dataset_train.head()

,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,985
1,2,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,801
2,3,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1349
3,4,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1562
4,5,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,1600

In [311]:
del dataset_train[dataset_train.columns[0]]
dataset_train.head()

,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,985
1,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,801
2,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1349
3,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1562
4,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,1600

In [312]:
X = dataset_train.iloc[:, :-1].values
y = dataset_train.iloc[:, -1].values

In [313]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [314]:
len(X_train)

328

In [315]:
len(y_train)

328

In [316]:
len(X_test)

37

In [317]:
len(y_test)

37

In [318]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [319]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)

In [320]:
linear_regression=LinearRegression()
model=linear_regression.fit(X_train,y_train)
Y_pred=model.predict(X_test)

In [321]:
print("training score : ", linear_regression.score(X_train, y_train))

training score :  0.7614263029208502

In [322]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
print("Testing score : ", score)

Testing score :  0.7142174208123409

In [323]:
dataset_test=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\test.csv")
dataset_test.head()

,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,366,1,1,0,0,0,1,0.370000,0.375621,0.692500,0.192167
1,367,1,1,1,1,0,1,0.273043,0.252304,0.381304,0.329665
2,368,1,1,0,2,1,1,0.150000,0.126275,0.441250,0.365671
3,369,1,1,0,3,1,2,0.107500,0.119337,0.414583,0.184700
4,370,1,1,0,4,1,1,0.265833,0.278412,0.524167,0.129987

In [324]:
X2 = dataset_test.iloc[:, 1:].values

In [325]:
X2

array([[ 1.  ,  1.  ,  0.  , ...,  0.38,  0.69,  0.19],
       [ 1.  ,  1.  ,  1.  , ...,  0.25,  0.38,  0.33],
       [ 1.  ,  1.  ,  0.  , ...,  0.13,  0.44,  0.37],
       ...,
       [ 1.  , 12.  ,  0.  , ...,  0.24,  0.75,  0.12],
       [ 1.  , 12.  ,  0.  , ...,  0.23,  0.48,  0.35],
       [ 1.  , 12.  ,  0.  , ...,  0.22,  0.58,  0.15]])

X2

In [326]:
len(X2)

366

In [327]:
y2_pred = regressor.predict(X2)
np.set_printoptions(precision=2)

In [328]:
y2_pred

array([2381.12, 1608.24, 1263.85, 1055.49, 2361.31, 2596.13, 2798.52,
       2419.04, 1523.77, 2277.05, 1594.92, 2039.92, 1829.72, 1836.73,
       1511.7 , 1346.64, 1623.97, 1884.39, 1808.31, 1538.78,  903.07,
        794.83, 1294.06, 2422.2 , 2288.54, 2139.08, 1930.18, 2352.06,
       2167.41, 2195.85, 2663.02, 3152.51, 2210.7 , 2476.41, 1610.05,
       1421.92, 2231.35, 2705.02, 1610.29, 2161.61, 1964.97,  549.93,
        903.2 , 2088.68, 2046.51, 2588.84, 1990.92, 2472.51, 2546.5 ,
       1442.89, 1777.86, 2176.18, 2652.31, 3056.22, 2104.28, 1828.88,
       2146.8 , 2451.44, 2695.48, 1842.17, 3066.6 , 2133.93, 2344.94,
       2057.96, 1954.74, 2154.1 , 2462.93, 2808.42, 1968.51, 2325.7 ,
       2441.8 , 3060.91, 3356.98, 3790.43, 3600.7 , 2434.12, 2811.06,
       2394.14, 3328.41, 3446.77, 3270.84, 3827.2 , 3679.06, 2827.61,
       2335.31, 2932.13, 3003.53, 3371.97, 3413.27, 2667.81, 2460.05,
       2556.27, 3026.25, 3788.05, 3910.72, 3427.91, 3104.93, 3367.92,
       3605.08, 3329.9 , 3310.36, 2737.73, 3004.88, 3601.22, 3627.48,
       3907.19, 3740.74, 4049.33, 2987.26, 3881.09, 3768.11, 3595.86,
       1381.09, 1784.05, 3139.96, 3787.44, 2989.9 , 3234.95, 2727.67,
       3417.37, 2935.31, 3592.21, 3824.3 , 3360.33, 4152.99, 3565.14,
       3187.2 , 3056.84, 3105.59, 3235.73, 3379.76, 3873.61, 4116.16,
       3879.3 , 3150.94, 3492.14, 4271.96, 4008.37, 4114.02, 4384.55,
       3881.02, 3194.72, 3600.84, 3683.24, 4241.85, 4428.61, 4304.74,
       4147.07, 4087.21, 4252.48, 3852.98, 4494.47, 3572.61, 4000.05,
       3995.24, 3856.02, 3181.59, 4084.65, 4167.58, 4436.08, 4753.69,
       4627.91, 3990.57, 3479.96, 3939.36, 4163.07, 4293.7 , 4294.71,
       3956.59, 3223.33, 4441.49, 5045.46, 5569.79, 5306.05, 5050.29,
       5099.98, 4702.36, 4347.6 , 4854.56, 5286.95, 5688.21, 5195.04,
       5353.69, 5287.  , 5430.4 , 5104.65, 5575.87, 5712.67, 5748.22,
       5465.18, 4303.55, 4455.56, 4984.34, 5106.48, 4887.31, 4389.54,
       4882.44, 5139.66, 5634.52, 5439.05, 5262.01, 3988.28, 3072.4 ,
       4139.64, 5046.27, 4981.62, 5140.03, 5032.75, 5380.05, 5163.74,
       4829.11, 4986.72, 4866.96, 4986.41, 5220.  , 4615.91, 5116.97,
       4758.25, 4652.85, 4588.5 , 4715.14, 5197.48, 4262.47, 4148.3 ,
       4917.06, 5071.46, 4933.58, 4915.75, 5137.47, 4594.49, 4757.27,
       4058.73, 4039.43, 4807.15, 4921.22, 5067.9 , 4666.82, 3941.3 ,
       3676.32, 4859.48, 4936.75, 5006.83, 5178.18, 5243.61, 4730.6 ,
       4294.5 , 4430.46, 4722.34, 4929.83, 4297.51, 4847.02, 3765.32,
       4257.44, 4207.32, 4573.22, 4552.59, 4699.17, 4735.92, 4380.4 ,
       4422.15, 3738.06, 3340.73, 4187.4 , 4338.68, 4471.33, 4356.23,
       4342.31, 4544.55, 4456.84, 4782.31, 4574.05, 4390.94, 4468.41,
       4439.6 , 4059.97, 3655.94, 4642.09, 4613.05, 5059.8 , 4322.06,
       3304.2 , 2799.56, 3409.63, 4367.49, 4180.62, 4026.75, 4005.67,
       4027.8 , 3713.38, 4206.31, 4247.59, 3729.63, 4096.4 , 4424.62,
       4134.61, 4501.52, 4690.76, 4960.27, 4051.74, 4028.72, 3733.12,
       2995.54, 2366.46, 2701.33, 3159.53, 3312.94, 3584.2 , 2963.39,
       3443.61, 3406.86, 3344.93, 2628.37, 3506.92, 3714.06, 4068.19,
       3900.68, 3777.95, 2643.38, 3352.25, 3082.57, 3757.77, 3564.91,
       3267.61, 3090.26, 3394.58, 3840.95, 3600.41, 3890.2 , 2980.56,
       3196.05, 3816.08, 2548.71, 3400.37, 3549.57, 3714.95, 3006.83,
       2928.1 , 4169.06, 4108.95, 3813.37, 3319.22, 3029.58, 3203.84,
       2948.15, 3200.56, 2854.84, 2987.22, 3524.14, 3460.28, 3651.71,
       3037.06, 3237.58, 3755.49, 3541.43, 3129.14, 1512.98, 1688.23,
       2066.7 , 1510.52, 1284.05,  483.7 , 1123.63, 1672.51, 1537.25,
       1603.3 , 1420.83])

In [329]:
submission=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\sample_submission.csv")
submission.head()

    id          cnt
0  366  2324.704634
1  367  1825.998871
2  368  1246.661929
3  369  1067.359745
4  370  2349.727614

In [330]:
df=pd.DataFrame(submission)

In [331]:
df['cnt']=y2_pred

In [332]:
df

      id          cnt
0    366  2381.117018
1    367  1608.240373
2    368  1263.846994
3    369  1055.494470
4    370  2361.313220
..   ...          ...
361  727  1123.631420
362  728  1672.512150
363  729  1537.247235
364  730  1603.297815
365  731  1420.833684

[366 rows x 2 columns]

In [333]:
print(df.to_string(index=False))

  id          cnt
 366  2381.117018
 367  1608.240373
 368  1263.846994
 369  1055.494470
 370  2361.313220
 371  2596.132977
 372  2798.518933
 373  2419.038704
 374  1523.774627
 375  2277.048601
 376  1594.916640
 377  2039.919723
 378  1829.715796
 379  1836.734216
 380  1511.701155
 381  1346.637027
 382  1623.974188
 383  1884.393140
 384  1808.311926
 385  1538.782588
 386   903.072485
 387   794.834433
 388  1294.064569
 389  2422.198276
 390  2288.542598
 391  2139.076739
 392  1930.179655
 393  2352.056618
 394  2167.414455
 395  2195.850192
 396  2663.024648
 397  3152.508260
 398  2210.696787
 399  2476.410046
 400  1610.049758
 401  1421.924521
 402  2231.346109
 403  2705.016277
 404  1610.294017
 405  2161.605076
 406  1964.967995
 407   549.929348
 408   903.195763
 409  2088.678426
 410  2046.505249
 411  2588.838165
 412  1990.923355
 413  2472.506145
 414  2546.500264
 415  1442.887908
 416  1777.858299
 417  2176.184172
 418  2652.313669
 419  3056.216434
 420  2104.282820
 421  1828.883097
 422  2146.796139
 423  2451.435018
 424  2695.475191
 425  1842.169166
 426  3066.602185
 427  2133.934627
 428  2344.942060
 429  2057.956934
 430  1954.743592
 431  2154.104677
 432  2462.931886
 433  2808.417605
 434  1968.514765
 435  2325.696127
 436  2441.804813
 437  3060.913898
 438  3356.978378
 439  3790.434349
 440  3600.699091
 441  2434.115942
 442  2811.061183
 443  2394.136474
 444  3328.408817
 445  3446.768320
 446  3270.842179
 447  3827.198613
 448  3679.062074
 449  2827.613666
 450  2335.306952
 451  2932.126108
 452  3003.529627
 453  3371.974322
 454  3413.265366
 455  2667.806847
 456  2460.046050
 457  2556.274454
 458  3026.249059
 459  3788.049944
 460  3910.718597
 461  3427.906952
 462  3104.928272
 463  3367.920662
 464  3605.083403
 465  3329.899785
 466  3310.358944
 467  2737.732020
 468  3004.879853
 469  3601.220796
 470  3627.484709
 471  3907.194547
 472  3740.735546
 473  4049.331320
 474  2987.257582
 475  3881.091154
 476  3768.110131
 477  3595.855257
 478  1381.090141
 479  1784.051876
 480  3139.955427
 481  3787.443357
 482  2989.904241
 483  3234.945196
 484  2727.670301
 485  3417.373132
 486  2935.311636
 487  3592.205080
 488  3824.303166
 489  3360.331390
 490  4152.988803
 491  3565.143407
 492  3187.198165
 493  3056.843848
 494  3105.591395
 495  3235.733082
 496  3379.761049
 497  3873.612498
 498  4116.157677
 499  3879.299479
 500  3150.941564
 501  3492.138960
 502  4271.957408
 503  4008.373458
 504  4114.017852
 505  4384.546686
 506  3881.019631
 507  3194.723222
 508  3600.835811
 509  3683.240452
 510  4241.848022
 511  4428.609416
 512  4304.740781
 513  4147.066397
 514  4087.209282
 515  4252.480695
 516  3852.983787
 517  4494.471167
 518  3572.611135
 519  4000.054967
 520  3995.243425
 521  3856.016297
 522  3181.592806
 523  4084.647128
 524  4167.575292
 525  4436.077998
 526  4753.690311
 527  4627.910283
 528  3990.565995
 529  3479.957284
 530  3939.364094
 531  4163.072147
 532  4293.701127
 533  4294.709401
 534  3956.594219
 535  3223.334542
 536  4441.487268
 537  5045.456982
 538  5569.793912
 539  5306.047859
 540  5050.292203
 541  5099.977813
 542  4702.361025
 543  4347.601927
 544  4854.559277
 545  5286.950681
 546  5688.213608
 547  5195.043422
 548  5353.691012
 549  5287.002155
 550  5430.396808
 551  5104.651566
 552  5575.873116
 553  5712.672869
 554  5748.222955
 555  5465.178279
 556  4303.547149
 557  4455.558143
 558  4984.337447
 559  5106.475632
 560  4887.313569
 561  4389.535282
 562  4882.444261
 563  5139.656508
 564  5634.516991
 565  5439.046936
 566  5262.007385
 567  3988.278548
 568  3072.399635
 569  4139.639922
 570  5046.269816
 571  4981.624473
 572  5140.031297
 573  5032.746367
 574  5380.046458
 575  5163.740569
 576  4829.106088
 577  4986.718334
 578  4866.961783
 579  4986.412090
 580  5220.002063
 581  4615.912974
 582  5116.965529
 583  4758.246285
 584  4652.845932
 585  4588.500040
 586  4715.141768
 587  5197.476716
 588  4262.474204
 589  4148.295512
 590  4917.057810
 591  5071.462997
 592  4933.583620
 593  4915.745321
 594  5137.471860
 595  4594.488809
 596  4757.269183
 597  4058.730841
 598  4039.433760
 599  4807.154344
 600  4921.222717
 601  5067.903363
 602  4666.815717
 603  3941.301721
 604  3676.324634
 605  4859.478105
 606  4936.750095
 607  5006.832864
 608  5178.184287
 609  5243.606502
 610  4730.598838
 611  4294.501168
 612  4430.455051
 613  4722.339029
 614  4929.828000
 615  4297.506371
 616  4847.023759
 617  3765.324311
 618  4257.439545
 619  4207.320937
 620  4573.216812
 621  4552.588647
 622  4699.170591
 623  4735.923172
 624  4380.400163
 625  4422.152336
 626  3738.056855
 627  3340.727613
 628  4187.404764
 629  4338.677087
 630  4471.334494
 631  4356.232441
 632  4342.310079
 633  4544.546718
 634  4456.837809
 635  4782.307624
 636  4574.048114
 637  4390.935657
 638  4468.409767
 639  4439.600946
 640  4059.966190
 641  3655.937863
 642  4642.092153
 643  4613.053580
 644  5059.796455
 645  4322.057934
 646  3304.195507
 647  2799.558738
 648  3409.628815
 649  4367.491436
 650  4180.617247
 651  4026.749174
 652  4005.666642
 653  4027.797309
 654  3713.382894
 655  4206.312592
 656  4247.591667
 657  3729.629835
 658  4096.396318
 659  4424.616353
 660  4134.609585
 661  4501.519748
 662  4690.759476
 663  4960.270275
 664  4051.742753
 665  4028.720398
 666  3733.121003
 667  2995.543502
 668  2366.460605
 669  2701.333769
 670  3159.530405
 671  3312.941479
 672  3584.202943
 673  2963.386232
 674  3443.613620
 675  3406.861434
 676  3344.928508
 677  2628.365843
 678  3506.924807
 679  3714.064028
 680  4068.185710
 681  3900.677038
 682  3777.951973
 683  2643.381045
 684  3352.250781
 685  3082.566269
 686  3757.774086
 687  3564.913388
 688  3267.606413
 689  3090.259204
 690  3394.583681
 691  3840.953756
 692  3600.412761
 693  3890.198090
 694  2980.557046
 695  3196.052903
 696  3816.082381
 697  2548.705866
 698  3400.370113
 699  3549.571028
 700  3714.951129
 701  3006.830878
 702  2928.095337
 703  4169.064052
 704  4108.953237
 705  3813.370329
 706  3319.224211
 707  3029.580686
 708  3203.840459
 709  2948.145782
 710  3200.555432
 711  2854.842873
 712  2987.219425
 713  3524.142197
 714  3460.278964
 715  3651.708854
 716  3037.063982
 717  3237.580988
 718  3755.486913
 719  3541.427944
 720  3129.137773
 721  1512.981544
 722  1688.228565
 723  2066.703486
 724  1510.520834
 725  1284.046154
 726   483.700422
 727  1123.631420
 728  1672.512150
 729  1537.247235
 730  1603.297815
 731  1420.833684

In [334]:
df.to_csv('C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\linear_submission1.csv',index=False)