In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
dataset_train=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\train.csv")
dataset_train.head()

,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,985
1,2,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,801
2,3,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1349
3,4,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1562
4,5,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,1600

In [19]:
del dataset_train[dataset_train.columns[0]]
dataset_train.head()

,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,985
1,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,801
2,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1349
3,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1562
4,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,1600

In [20]:
X = dataset_train.iloc[:, :-1].values
y = dataset_train.iloc[:, -1].values

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [22]:
X

array([[ 1.  ,  1.  ,  0.  , ...,  0.36,  0.81,  0.16],
       [ 1.  ,  1.  ,  0.  , ...,  0.35,  0.7 ,  0.25],
       [ 1.  ,  1.  ,  0.  , ...,  0.19,  0.44,  0.25],
       ...,
       [ 1.  , 12.  ,  0.  , ...,  0.26,  0.57,  0.12],
       [ 1.  , 12.  ,  0.  , ...,  0.32,  0.64,  0.13],
       [ 1.  , 12.  ,  0.  , ...,  0.41,  0.62,  0.22]])

In [23]:
len(y_train)

292

In [24]:
len(X_test)

73

In [25]:
len(y_test)

73

In [26]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor.fit(X,y)

RandomForestRegressor(random_state=0)

In [27]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)

In [28]:
y_pred

array([3599.84, 4320.46, 1846.36,  647.16, 2291.67, 3511.38, 2146.29,
       4123.7 , 4452.86, 1514.3 , 3386.93, 4574.38, 4122.45, 3793.27,
       3004.86, 4423.64, 4257.89, 2595.7 , 4763.59, 5407.34, 4172.77,
       4446.33, 1894.82, 4119.47, 3450.51, 4720.41, 1294.42, 3027.73,
       3960.32, 4182.7 , 4190.91, 2240.23, 1224.88, 1751.09, 1772.19,
       1537.87, 2116.68, 4009.19, 4207.43,  863.01, 4583.4 , 3669.72,
       4400.26, 4353.24, 1443.13, 3936.05, 4697.74, 3903.05, 4709.15,
       1807.77, 4581.96, 4475.4 , 5006.26, 4936.38, 2910.25, 1553.59,
       1504.69, 4189.46, 1388.71, 3355.54, 2765.89, 4016.79,  992.79,
       3565.05, 2234.76, 3613.76, 1848.98, 4238.52, 4387.25, 3986.11,
       2122.4 , 4203.56, 4023.86])

In [29]:
dataset_test=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\test.csv")
dataset_test.head()

,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,366,1,1,0,0,0,1,0.370000,0.375621,0.692500,0.192167
1,367,1,1,1,1,0,1,0.273043,0.252304,0.381304,0.329665
2,368,1,1,0,2,1,1,0.150000,0.126275,0.441250,0.365671
3,369,1,1,0,3,1,2,0.107500,0.119337,0.414583,0.184700
4,370,1,1,0,4,1,1,0.265833,0.278412,0.524167,0.129987

In [30]:
X2 = dataset_test.iloc[:, 1:].values

In [31]:
len(X2)

366

In [32]:
y2_pred = regressor.predict(X2)
np.set_printoptions(precision=2)

In [33]:
y2_pred

array([1283.45, 1243.42, 1362.56, 1409.72, 1859.56, 1819.42, 1532.85,
       1434.87, 1198.24, 1765.66, 1214.86, 1350.37, 1757.46, 1063.03,
        979.5 , 1056.64, 1280.21, 1787.77, 1424.32, 1603.  ,  842.66,
        810.15,  917.3 , 1250.4 , 1731.33, 1356.49, 1694.09, 1420.42,
       1368.43, 1824.92, 1856.82, 3392.21, 1932.03, 1853.45, 1582.47,
       1406.23, 1747.35, 2021.13, 1682.94, 1826.91, 1865.66, 1211.67,
       1362.26, 1707.19, 1900.62, 2030.51, 1815.56, 2020.58, 1960.77,
       1615.31, 1633.34, 1761.24, 1965.75, 2817.97, 2172.16, 1773.97,
       1796.49, 1945.49, 2033.4 , 1734.51, 3294.34, 2101.13, 2452.53,
       1982.69, 1839.02, 1945.8 , 2055.82, 3158.23, 1870.05, 2076.96,
       2313.56, 3563.88, 3475.48, 3611.5 , 3391.22, 2773.47, 3653.75,
       3417.57, 3319.93, 3442.24, 3634.  , 3594.36, 3964.49, 3495.97,
       2632.41, 2835.29, 2263.77, 3536.36, 3482.59, 2234.52, 2442.7 ,
       2786.03, 3069.77, 3820.01, 3899.15, 3213.55, 2686.01, 3215.09,
       3832.34, 3427.38, 3232.26, 2456.99, 2627.94, 3285.06, 4445.34,
       4264.01, 4148.74, 4198.16, 3550.47, 3504.9 , 3790.98, 4208.57,
       1566.83, 1817.67, 2793.89, 3806.25, 3162.67, 3617.19, 2557.92,
       3632.01, 3564.3 , 4379.17, 4455.73, 4316.4 , 4801.83, 4533.09,
       4396.69, 4270.93, 4232.06, 4120.31, 4518.08, 4996.44, 5210.08,
       4728.31, 4022.2 , 4224.73, 4655.27, 4946.04, 4996.51, 5334.26,
       4868.47, 4130.43, 4371.84, 4477.69, 4792.78, 4774.74, 4779.53,
       4571.09, 4515.23, 4388.83, 4468.42, 5071.22, 4238.63, 5231.91,
       5080.73, 4956.63, 4443.95, 4831.47, 4897.35, 5256.73, 5182.52,
       4851.74, 4595.55, 3993.79, 4700.53, 4972.  , 5123.86, 5294.25,
       4798.39, 4242.56, 4680.17, 4331.28, 4193.41, 4423.61, 5178.89,
       4902.  , 4855.58, 5031.33, 5093.5 , 4843.63, 3799.57, 4889.89,
       4113.66, 4617.98, 4657.41, 4383.58, 4017.56, 3968.67, 3650.56,
       3768.87, 4504.8 , 4508.36, 4773.34, 4990.6 , 5179.68, 4621.81,
       4437.6 , 4296.83, 3999.54, 4380.45, 4374.28, 3896.76, 3074.92,
       4729.18, 4407.01, 4495.31, 5125.34, 4299.97, 4423.03, 4877.94,
       4779.98, 4454.2 , 4580.16, 4557.04, 4320.86, 4082.03, 4383.82,
       4205.88, 4068.64, 4240.71, 4276.9 , 4566.26, 4199.08, 4267.37,
       4889.24, 4759.26, 4441.86, 4809.52, 4968.85, 3650.08, 5382.19,
       4893.98, 4390.91, 4895.75, 4959.06, 4964.37, 5080.49, 4233.96,
       3921.76, 4530.85, 4752.93, 4934.19, 5047.76, 4672.77, 4594.4 ,
       4884.73, 4365.84, 4243.02, 4404.77, 4280.19, 4728.91, 3880.8 ,
       4859.85, 4946.76, 4986.7 , 4875.18, 4944.55, 4942.05, 5307.77,
       4899.77, 4371.01, 3150.72, 4869.4 , 4740.78, 4863.25, 5016.49,
       4979.42, 4940.16, 4751.96, 4778.1 , 4463.12, 4378.82, 5102.78,
       4648.74, 4691.2 , 3227.31, 4776.74, 4463.03, 5029.04, 4784.51,
       3730.9 , 2473.9 , 3433.2 , 4603.55, 4014.37, 4012.41, 3807.86,
       4487.02, 4003.22, 4547.58, 3846.57, 3862.46, 4096.32, 5051.05,
       4033.8 , 4726.34, 4689.42, 4940.94, 4231.32, 4160.31, 4106.26,
       3365.06, 2073.31, 3079.99, 3565.25, 3373.33, 3674.68, 3632.86,
       3599.08, 3515.37, 3435.73, 3149.77, 3293.22, 3737.75, 3888.64,
       3951.23, 4131.56, 3019.88, 3549.26, 3643.61, 3723.73, 3788.16,
       3536.82, 3354.42, 3352.65, 3745.35, 2687.73, 3268.74, 2896.65,
       3061.53, 3672.7 , 3017.04, 3569.47, 3582.79, 3658.12, 3238.07,
       3167.71, 3760.99, 4167.34, 3293.66, 3153.9 , 3463.83, 2687.78,
       2598.06, 2783.51, 3255.83, 3516.54, 3562.63, 3531.56, 3704.81,
       3051.39, 2997.56, 3840.74, 3727.36, 3686.23, 1921.55, 1898.84,
       1809.11, 1756.25, 1350.33, 1394.77, 1865.76, 2024.87, 1756.99,
       1688.33, 1708.26])

In [34]:
submission=pd.read_csv("C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\sample_submission.csv")
submission.head()

    id          cnt
0  366  2324.704634
1  367  1825.998871
2  368  1246.661929
3  369  1067.359745
4  370  2349.727614

In [35]:
df=pd.DataFrame(submission)

In [36]:
df['cnt']=y2_pred

In [37]:
df

      id      cnt
0    366  1283.45
1    367  1243.42
2    368  1362.56
3    369  1409.72
4    370  1859.56
..   ...      ...
361  727  1865.76
362  728  2024.87
363  729  1756.99
364  730  1688.33
365  731  1708.26

[366 rows x 2 columns]

In [38]:
print(df.to_string(index=False))

  id      cnt
 366  1283.45
 367  1243.42
 368  1362.56
 369  1409.72
 370  1859.56
 371  1819.42
 372  1532.85
 373  1434.87
 374  1198.24
 375  1765.66
 376  1214.86
 377  1350.37
 378  1757.46
 379  1063.03
 380   979.50
 381  1056.64
 382  1280.21
 383  1787.77
 384  1424.32
 385  1603.00
 386   842.66
 387   810.15
 388   917.30
 389  1250.40
 390  1731.33
 391  1356.49
 392  1694.09
 393  1420.42
 394  1368.43
 395  1824.92
 396  1856.82
 397  3392.21
 398  1932.03
 399  1853.45
 400  1582.47
 401  1406.23
 402  1747.35
 403  2021.13
 404  1682.94
 405  1826.91
 406  1865.66
 407  1211.67
 408  1362.26
 409  1707.19
 410  1900.62
 411  2030.51
 412  1815.56
 413  2020.58
 414  1960.77
 415  1615.31
 416  1633.34
 417  1761.24
 418  1965.75
 419  2817.97
 420  2172.16
 421  1773.97
 422  1796.49
 423  1945.49
 424  2033.40
 425  1734.51
 426  3294.34
 427  2101.13
 428  2452.53
 429  1982.69
 430  1839.02
 431  1945.80
 432  2055.82
 433  3158.23
 434  1870.05
 435  2076.96
 436  2313.56
 437  3563.88
 438  3475.48
 439  3611.50
 440  3391.22
 441  2773.47
 442  3653.75
 443  3417.57
 444  3319.93
 445  3442.24
 446  3634.00
 447  3594.36
 448  3964.49
 449  3495.97
 450  2632.41
 451  2835.29
 452  2263.77
 453  3536.36
 454  3482.59
 455  2234.52
 456  2442.70
 457  2786.03
 458  3069.77
 459  3820.01
 460  3899.15
 461  3213.55
 462  2686.01
 463  3215.09
 464  3832.34
 465  3427.38
 466  3232.26
 467  2456.99
 468  2627.94
 469  3285.06
 470  4445.34
 471  4264.01
 472  4148.74
 473  4198.16
 474  3550.47
 475  3504.90
 476  3790.98
 477  4208.57
 478  1566.83
 479  1817.67
 480  2793.89
 481  3806.25
 482  3162.67
 483  3617.19
 484  2557.92
 485  3632.01
 486  3564.30
 487  4379.17
 488  4455.73
 489  4316.40
 490  4801.83
 491  4533.09
 492  4396.69
 493  4270.93
 494  4232.06
 495  4120.31
 496  4518.08
 497  4996.44
 498  5210.08
 499  4728.31
 500  4022.20
 501  4224.73
 502  4655.27
 503  4946.04
 504  4996.51
 505  5334.26
 506  4868.47
 507  4130.43
 508  4371.84
 509  4477.69
 510  4792.78
 511  4774.74
 512  4779.53
 513  4571.09
 514  4515.23
 515  4388.83
 516  4468.42
 517  5071.22
 518  4238.63
 519  5231.91
 520  5080.73
 521  4956.63
 522  4443.95
 523  4831.47
 524  4897.35
 525  5256.73
 526  5182.52
 527  4851.74
 528  4595.55
 529  3993.79
 530  4700.53
 531  4972.00
 532  5123.86
 533  5294.25
 534  4798.39
 535  4242.56
 536  4680.17
 537  4331.28
 538  4193.41
 539  4423.61
 540  5178.89
 541  4902.00
 542  4855.58
 543  5031.33
 544  5093.50
 545  4843.63
 546  3799.57
 547  4889.89
 548  4113.66
 549  4617.98
 550  4657.41
 551  4383.58
 552  4017.56
 553  3968.67
 554  3650.56
 555  3768.87
 556  4504.80
 557  4508.36
 558  4773.34
 559  4990.60
 560  5179.68
 561  4621.81
 562  4437.60
 563  4296.83
 564  3999.54
 565  4380.45
 566  4374.28
 567  3896.76
 568  3074.92
 569  4729.18
 570  4407.01
 571  4495.31
 572  5125.34
 573  4299.97
 574  4423.03
 575  4877.94
 576  4779.98
 577  4454.20
 578  4580.16
 579  4557.04
 580  4320.86
 581  4082.03
 582  4383.82
 583  4205.88
 584  4068.64
 585  4240.71
 586  4276.90
 587  4566.26
 588  4199.08
 589  4267.37
 590  4889.24
 591  4759.26
 592  4441.86
 593  4809.52
 594  4968.85
 595  3650.08
 596  5382.19
 597  4893.98
 598  4390.91
 599  4895.75
 600  4959.06
 601  4964.37
 602  5080.49
 603  4233.96
 604  3921.76
 605  4530.85
 606  4752.93
 607  4934.19
 608  5047.76
 609  4672.77
 610  4594.40
 611  4884.73
 612  4365.84
 613  4243.02
 614  4404.77
 615  4280.19
 616  4728.91
 617  3880.80
 618  4859.85
 619  4946.76
 620  4986.70
 621  4875.18
 622  4944.55
 623  4942.05
 624  5307.77
 625  4899.77
 626  4371.01
 627  3150.72
 628  4869.40
 629  4740.78
 630  4863.25
 631  5016.49
 632  4979.42
 633  4940.16
 634  4751.96
 635  4778.10
 636  4463.12
 637  4378.82
 638  5102.78
 639  4648.74
 640  4691.20
 641  3227.31
 642  4776.74
 643  4463.03
 644  5029.04
 645  4784.51
 646  3730.90
 647  2473.90
 648  3433.20
 649  4603.55
 650  4014.37
 651  4012.41
 652  3807.86
 653  4487.02
 654  4003.22
 655  4547.58
 656  3846.57
 657  3862.46
 658  4096.32
 659  5051.05
 660  4033.80
 661  4726.34
 662  4689.42
 663  4940.94
 664  4231.32
 665  4160.31
 666  4106.26
 667  3365.06
 668  2073.31
 669  3079.99
 670  3565.25
 671  3373.33
 672  3674.68
 673  3632.86
 674  3599.08
 675  3515.37
 676  3435.73
 677  3149.77
 678  3293.22
 679  3737.75
 680  3888.64
 681  3951.23
 682  4131.56
 683  3019.88
 684  3549.26
 685  3643.61
 686  3723.73
 687  3788.16
 688  3536.82
 689  3354.42
 690  3352.65
 691  3745.35
 692  2687.73
 693  3268.74
 694  2896.65
 695  3061.53
 696  3672.70
 697  3017.04
 698  3569.47
 699  3582.79
 700  3658.12
 701  3238.07
 702  3167.71
 703  3760.99
 704  4167.34
 705  3293.66
 706  3153.90
 707  3463.83
 708  2687.78
 709  2598.06
 710  2783.51
 711  3255.83
 712  3516.54
 713  3562.63
 714  3531.56
 715  3704.81
 716  3051.39
 717  2997.56
 718  3840.74
 719  3727.36
 720  3686.23
 721  1921.55
 722  1898.84
 723  1809.11
 724  1756.25
 725  1350.33
 726  1394.77
 727  1865.76
 728  2024.87
 729  1756.99
 730  1688.33
 731  1708.26

In [39]:
df.to_csv('C:\\Users\\jonathan.sh\\OneDrive - Webpals\\DS Course\\Task DS\\RandomForest_submission1.csv',index=False)